
/* This is custom 'override' css for cncjs */
button[title*="Z+"] {
    color: red;
    min-width:28px !important;
    width: 28px !important;
    margin-left:  10px;
    background:#c1eeff !important;
}

button[title*="G0 Z0"] {
    color: red;
    min-width:28px !important;
    width: 28px !important;
    margin-left:  10px;
    background:#c1eeff !important;
}

button[title*="Z-"] {
    color: red;
    min-width:28px !important;
    width: 28px !important;
    margin-left:  10px;
    background:#c1eeff !important;
}

button[title*="Y+"] {
    background: #ffffbe;
}

button[title*="Y-"] {
    background: #ffffbe;
}

button[title*="X+"] {
    background: #ffffbe;
}

button[title*="X-"] {
    background: #ffffbe;
}

button[title*="X- Y+"] {
    background: #d4ffd6;
}

button[title*="X- Y-"] {
    background: #d4ffd6;
}

button[title*="X+ Y+"] {
    background: #d4ffd6;
}

button[title*="X+ Y-"] {
    background: #d4ffd6;
}

